@media only screen and (min-width: 971px) {
    body {
        display: flex;
        flex-wrap: wrap;
    }

    body::before{
        background-position: 0;
    }

    .content-div {
        flex-basis: 33%;
    }
}