@media only screen and (min-width: 971px) {
    body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    body::before{
        background-position: 0;
    }

    main {
        margin-top: 5em;
        display: flex;
        justify-content: center;
    }

    #front-page {
        flex-direction: column;
    }

    .desktop-div {
        background-color: white;
        width: 80vw;
        height: max-content;
        padding: 3em;

        box-shadow: -1px -4px 27px -13px rgba(0,0,0,0.5);
        -webkit-box-shadow: -1px -4px 27px -13px rgba(0,0,0,0.5);
        -moz-box-shadow: -1px -4px 27px -13px rgba(0,0,0,0.5);
    }

    #contact-h {
        flex-basis: 100%;
    }

    #contact-div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #delivery-h {
        flex-basis: 100%;
    }

    #delivery-div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #contact-map-div {
        display: block;
    }
    #contact-map-div .mapouter, #delivery-div .mapouter {
        margin-top: 30px;
        position:relative;
        text-align:right;
        height:500px;
        width:max-content;
    }
    
    #contact-map-div .gmap_canvas, #delivery-div .gmap_canvas {
        overflow:hidden;
        background:none!important;
        height:500px;
        width:600px;
    }

    #delivery-text {
        max-width: 600px;
        width: max-content;
    }

    .link {
        font-size: 34px;
    }

    .content-div {
        flex-basis: 100%;
        display: flex;
        justify-content: space-evenly;
        height: 50px;
    }

    .bm-burger-button {
        display: none;
    }

    .bm-menu-wrap {
        display: none;
    }

    /*
    #front-page div {
        display: flex;
        flex-direction: row;
    }
*/


    #front-page h1 {
        font-size: 50px;
    }

    #front-page-div {
        background-color: white;
        width: 80vw;
        height: 85vh;
        padding: 3em;

        display: flex;
        flex-direction: column;

        box-shadow: -1px -4px 27px -13px rgba(0,0,0,0.5);
        -webkit-box-shadow: -1px -4px 27px -13px rgba(0,0,0,0.5);
        -moz-box-shadow: -1px -4px 27px -13px rgba(0,0,0,0.5);
    }

    #front-top {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    #logo-front img {
        height: 100px;
        width: auto;
    }

    .front-news {
        justify-self: center;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        padding: 2em;
        height: 65em;
        display: block;
        background-image: url(./../images/Pizza-front.jpg);
        text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
        font-size: 40px;
    }

    .front-news div {
        display: flex;
        justify-content: center;
        height: 30px;
        flex-direction: row;
        position: relative;
        top: 100px;
    }

    .front-news p {
        color: white;
        font-size: 100px;
        text-shadow: 0 0 10px #FFFFFF;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: gray;
        margin-top: 0;
    }

    .front-news p:not(:first-of-type) {
        color: gray;
    }

    /*
    .navbar-top {
        display: block;
    }
    */
}

@media only screen and (min-width: 971px) and (max-width: 1392px) {
    .front-news div {
        top: 47px;
    }
}