@media only screen and (min-width: 0px) and (max-width: 576px) {
    body {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    .content-div {
        flex-basis: 100%;
    }

    .content-div > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #side-menu {
        width: 75%;
        height: 100vh;
        z-index: 10;
        position: absolute;
        top: 0px;
    }
}