@media only screen and (min-width: 577px) and (max-width: 970px){
    body {
        display: flex;
        flex-wrap: wrap;
    }

    body::before{
        background-position: -100px 0;
    }

    .content-div {
        flex-basis: 50%;
    }

    .navbar-top {
        display: none;
    }
}