@font-face {
  font-family: pizza-font;
  src: url(./Roboto-Regular.ttf);
}

* {
  font-family: sans-serif;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: auto;
  width: 100vw;
  height: 100vh;
}

body::before {
  background-image: url(./images/background.jpg);
  position: fixed;
  background-size: cover;
  background-attachment: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.1;
  content: "";
}

hr {
  border-top: 1px solid lightgray;
}

ul {
  list-style: none;
  font-size: 20px;
}

#menu-div img {
  border-radius: 5px;
}

/* Headlines, text anf links */

h1, h2, h3, h4, h5 {
  text-align: center;
  font-family: pizza-font;
}

h1 {
  font-size: 30px;
}

p {
  font-size: 24px;
}

#contact-div a {
  font-size: 24px;
}

.link {
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 24px;

}

.link:hover {
  text-decoration: underline;
}

/* ------ Front page ------ */

#front-page h1 {
  font-size: 40px;
}

#logo-front {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-front>img {
  width: 70%;
}

#front-page {
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

/* ----------- Contact page ------------- */

.contact-icon {
  position: relative;
  top: 5px;
  margin-left: 5px;
  height: 24px;
}

.contact-h {
  text-align: left;
  font-size: 24px;
  margin: 20px 0;
}

#contact-div p {
  margin: 10px 0;
}

/* ---------- check out page --------- */

#back-button {
  color: darkslateblue;
  font-size: 24px;
  text-decoration: underline;
}

.arrow {
  position: relative;
  font-size: 50px;
  height: 100px;
  cursor: pointer;

}

#order-complete-main {
  display: flex;
  flex-direction: column;
}

#order-complete-main figure {
  display: flex;
  justify-content: center;
}

.checkout-div {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-div>div {
  background-color: white;
  padding: 2em;
  box-shadow: -1px -4px 27px -13px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -1px -4px 27px -13px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -1px -4px 27px -13px rgba(0, 0, 0, 0.5);
}

#pay-Options>div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pay-btn {
  margin-bottom: 1em;
  text-decoration: none;
}

.pay-btn {
  margin: 0.2rem;
}

.pay-icon {
  position: relative;
  top: 20px;
  margin-right: 0.5em;
}

#paypal-btn {
  background-color: rgb(17, 17, 167);
  color: white;
}

#card-btn {
  background-color: rgba(128, 128, 128, 0.493);
  color: black;
}

#vipps-btn {
  background-color: #f7612b;
  color: white;
}

#klarna-btn {
  background-color: rgb(255, 67, 145);
  color: black;
}

#personalia-text {
  text-align: center;
}

/* ---------- Sidemenu ------------ */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
  background-color: white;
  box-shadow: 1px 1px 6px 9px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 1px 1px 6px 9px rgba(255, 255, 255, 1);
  -moz-box-shadow: 1px 1px 6px 9px rgba(255, 255, 255, 1);
}

.bm-burger-bars {
  background: black;
}

.bm-burger-bars-hover {
  background: darkred;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: black;
}


.bm-menu-wrap {
  position: fixed;
  height: 100vh;
  top: 0;
}

.bm-menu {
  background: white;
  padding: 1.5em 1.5em 0;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bm-morph-shape {
  fill: white;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  z-index: 1002 !important;
}

.bm-item {
  display: inline-block;
  color: black;
  margin: 20px 10px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #b8b7ad;
}

.menu-item {
  display: flex;
  flex-direction: column;
}

.food-button {
  background-color: #6fd98b !important;
  color: black !important;
}

.block {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.side-menu-figure {
  margin-left: 12px;
}

.side-menu-figure>img {
  width: 150px;
}

/* ------------ Shopping cart ---------- */
.burger-menu,
.burger-menu.open {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 40px;
  z-index: 1001;
  padding: 15px;
  border-radius: 30px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.burger-menu {
  background-color: #6fd98b;
}

.burger-menu.open {
  background-color: #fc6f6f;
}

.burger-menu .bar1,
.bar2,
.bar3 {
  visibility: hidden;
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
}

.burger-menu.open .bar1 {
  visibility: visible;
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px);
}

.burger-menu.open .bar2 {
  opacity: 0;
}

.burger-menu.open .bar3 {
  visibility: visible;
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
}

/* Menu */

.menu {
  width: 100%;
  display: block;
  text-align: center;
  padding: 0px;
}

.burger-menu.open #shopping-cart-icon {
  display: none;
}

#shopping-cart-icon {
  position: absolute;
  left: 9px;
  top: 10px;
}

.cart-item-count {
  position: absolute;
  top: 0px;
  right: 0px;
}

/* ----------- Error page ---------- */

#error-page img {
  animation: spin 20s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}